@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-dark--);
}

p {
  font-family: "Mulish", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

h5,
h6 {
  font-family: "Crimson Text", serif;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

ul {
  list-style: none;
}

.hidden{
  display: none;
}

.active{
display: block;
}